<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!---->
    <servlet>
        <servlet-name>RESTEasy-JSAPI</servlet-name>
        <servlet-class>org.jboss.resteasy.jsapi.JSAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTEasy-JSAPI</servlet-name>
        <url-pattern>/rest-js</url-pattern>
    </servlet-mapping>
    <!--JAXWS url mapping-->
    <servlet>
        <display-name>WithJRAPIDocAnnotations</display-name>
        <servlet-name>WithJRAPIDocAnnotations</servlet-name>
        <servlet-class>org.jrapidoc.example.service.WithJRAPIDocAnnotations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithJRAPIDocAnnotations</servlet-name>
        <url-pattern>/jaxws/services/WithJRAPIDocAnnotations</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>Simple</display-name>
        <servlet-name>Simple</servlet-name>
        <servlet-class>org.jrapidoc.example.service.Simple</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Simple</servlet-name>
        <url-pattern>/jaxws/services/Simple</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>MessageRPCStyle</display-name>
        <servlet-name>MessageRPCStyle</servlet-name>
        <servlet-class>org.jrapidoc.example.service.MessageRPCStyle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageRPCStyle</servlet-name>
        <url-pattern>/jaxws/services/rpc/MessageRPCStyle</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
        <init-param>
            <param-name>resteasy.scan</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Resteasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>
            org.jrapidoc.example.resource.SimpleResource,
            org.jrapidoc.example.resource.AnotherResource,
            org.jrapidoc.example.resource.InheritanceExampleResource,
            org.jrapidoc.example.resource.MoreAdvancedResource,
            org.jrapidoc.example.resource.ParameterizedTypeResource,
            org.jrapidoc.example.resource.WithJRAPIDocAnnotationsResource
        </param-value>
    </context-param>
</web-app>
