<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!---->
    <servlet>
        <servlet-name>RESTEasy-JSAPI</servlet-name>
        <servlet-class>org.jboss.resteasy.jsapi.JSAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RESTEasy-JSAPI</servlet-name>
        <url-pattern>/rest-js</url-pattern>
    </servlet-mapping>
    <!--JAXWS url mapping-->
    <servlet>
        <display-name>TestService</display-name>
        <servlet-name>TestService</servlet-name>
        <servlet-class>airservice.jaxws.test.TestService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestService</servlet-name>
        <url-pattern>/jaxws/services/TestService</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>TestService2</display-name>
        <servlet-name>TestService2</servlet-name>
        <servlet-class>airservice.jaxws.test.TestService2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestService2</servlet-name>
        <url-pattern>/jaxws/services/TestService2</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Resteasy</filter-name>
        <filter-class>org.jboss.resteasy.plugins.server.servlet.FilterDispatcher</filter-class>
        <init-param>
            <param-name>resteasy.scan</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Resteasy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>
            org.jrapidoc.example.resource.SimpleResource
        </param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
            airservice.resources.tests.MyExceptionMapper,
            airservice.resources.tests.LoggingFilter,
            airservice.resources.tests.BeforeMatchingFilter,
            airservice.resources.tests.InputInterceptor,
            airservice.resources.tests.OutputInterceptor,
            airservice.resources.tests.CompressInterceptor,
            airservice.resources.tests.DestinationProvider
        </param-value>
    </context-param>
</web-app>
